@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	/* it does not affect element if we add padding to that */
	box-sizing: border-box;
}

body {
	background-color: #686de0;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 100vh;
	margin: 0;
	padding: 20px;
}

/* container containing jokes */
.container {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
	padding: 50px 20px;
	text-align: center;
	max-width: 100%;
	width: 800px;
}

h3 {
	margin: 0;
	opacity: 0.5;
	letter-spacing: 2px;
}
.joke {
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 40px;
	margin: 70px auto;
	max-width: 600px;
}

/* button */

.btn {
	background-color: #9f68e0;
	color: #fff;
	border: 0;
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
	padding: 14px 40px;
	font-size: 16px;
	cursor: pointer;
}

.btn:focus {
	outline: 0;
}

.btn:active {
	transform: scale(0.98);
}

/* loader */
.loader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.8);
	color: #2271c0;
}

.loader img {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
